<!DOCTYPE html>
<html>
  <head>
    <title>ReactWorkshop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/header' %>
    <div id="root">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
